.logo-container{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 100px;
   padding:5px 10px;
   height: 68px;

   margin-bottom: 5px;
}

.logo img{
    width: 100%;
}

.nav-items ul{
    display: flex;
    list-style-type: none;
}

.nav-items ul li{
    padding: 10px;
}


/* res card css */



.res-card {
    width: 200px;
    background-color: #f0f0f0;
    margin: 10px;
    padding: 5px;
    height: 400px;
}

.res-card img{
    width: 200px;
    height: 100px;
}

.resto-container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

/* Shimmer UI */

.card-container{
    display: flex;
    flex-wrap: nowrap;
}

.card{
    width: 200;
    height: 400px;
    background-color: #f0f0f0;
}

/* category */

.cardTitle {
    background: lightgray;
    margin-bottom: 10px;
    padding: 10px 15px;
}

.card-body{
    display: flex;
    justify-content: space-between;
    padding-bottom: 14px;
}

.card-body img{
    width: 118px;
    height: 96px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 6px;
}